body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: azure;
}

h1 {
  color: #333;
}

#form-container {
  width: 50%;
  height: 50%;
  border: 1px solid #333;
  padding: 10px;
  margin: 30px;
  margin-left: 24%;
  justify-content: center;
}

#result-container {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  gap: 20px;
}

#moto-table,
#auto-table,
#camion-table {
  margin: 0 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#label1,
#label2,
#label3 {
  color: blue;
  margin-top: 80px;
}

#label4 {
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid #333;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: #555;
}

.nombres {
  font-size: 14pt;
  text-shadow: #000 1px 1px 5px;
}

thead {
  background-color: lightblue;
}

#label1,
#label2,
#label3,
#label4 {
  display: block;
  text-align: center;
  margin: 0px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

table {
  width: 100%;
}

caption {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 10px;
}
