* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

img {
  display: block;
}

body {
  background-color: #a09baa;
}

.titulo {
  font-weight: bold;
  font-size: 16pt;
  color: #293945;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
  padding: 10px;

  height: 100%;

  background-color: #2b5978;
  color: #d1e3e6;

  text-align: center;

  border-radius: 15px;
  border: 6px solid #1e3f54;

  transition: background-color 0.3s ease-in-out;
}

.btn > img {
  height: 80%;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #a3bdcf;
  border: 6px solid #c5d4de;
}

.btn:enabled:hover {
  border-color: #4a9acf;
}

.btn:enabled:active {
  background-color: #80AECF;

  transition: background-color 0s ease-in-out;
}

.conjunto {
  background-color: #a39989;
  color: #273138;
  height: 100%;

  transition: height 0.3s ease-out;
}

.respuesta {
  background-color: #709bb8;
  color: white;

  border-radius: 15px;

  transition: all 0.3s ease-in-out;
}

.respuesta:disabled {
  cursor: not-allowed;
  background-color: #93a9b8;
}

.respuesta:disabled > .manzanas > .manzana {
  opacity: 0.6;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  max-width: 100vw;
  height: 100vh;
}

.imagenCtx {
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  min-width: fit-content;
}

.imagenCtx > img {
  max-height: 100%;
  min-height: 100%;
  margin: auto;
}

.info {
  display: flex;
  gap: 10px;

  max-height: 30%;

  color: #202d36;
}

.sistema {
  font-size: 20pt;
  font-style: italic;
}

.contenedorConjuntos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  height: 100%;
}

.textos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  
  padding-left: 20px;
}

.conjuntos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  gap: 10px;
}

.conjuntos > .signo {
  max-width: min-content;
  font-size: 40pt;
  font-weight: bold;
  color: #293945;
}

.conjunto {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: stretch;

  padding: 10px 15px;

  width: 100%;
  height: 100%;

  border-radius: 15px;
}

.respuestas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;

  height: 100%;
}

.valor {
  color: white;
  font-size: 48pt;
  max-width: min-content;
}

.manzanas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  transition: height 0.3s ease-out;
}

.manzana {
  max-width: 80px;

  transition: all 0.2s ease;
  animation: expandir 0.3s ease-in-out;
}

@keyframes expandir {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 80px;
    height: initial;
  }
}

.respuesta:enabled {
  border: 6px solid #1e3f54;

  animation: cambioColor 5s ease-in-out;
}

.respuesta:enabled:hover {
  border-color: #4a9acf;
}

@keyframes cambioColor {
  0% {
    background-color: #6ec275;
  }
  100% {
    background-color: #ab5e5e;
  }
}

.aparecerTexto {
  animation: aparecerTexto 0.5s ease-out;
}

@keyframes aparecerTexto {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
